@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        /* Variable CSS */
:root {
    --header-height: 3rem;
    --font-medium: 500;
}
            /* Colors */
:root {
    --first-color: #000;  
    --white-color:  #FAFAFF;
    --dark-color: #1f1f1f;
    --text-color: #b9b9b9;

}
             /* Typo */    
:root {
    --body-font:'Nunito', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .812rem;
}
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        
    }
}

            /* Margins */
:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}   

              /* Z-Index */

:root {
    --z-fixed: 100;
}
              /* Base */

*,::before,::after{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
u1{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
    display: block;

}

                 /* Class css */    
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
}

